.button {
    -fx-font: 14px "Serif";
    -fx-padding: 2;
    -fx-background-color: #CCCCCC;
    -fx-border-color: #000000;
    -fx-border-radius: 0;
    -fx-alignment: center;
}

#mainHBox{
    -fx-background-image: url("../../resources/images/background_image.jpg");
}

#tabPlayerPane{
    -fx-background-image: url("../../resources/images/player_background.jpg");
}

.neck-label{
    -fx-pref-width: 35px;
    -fx-font: 14px "Serif";
    -fx-background-color: #FFFFCC;
    -fx-border-color: #000000;
    -fx-alignment: center;
}

.neck-button {
    -fx-background-color: #120901;
    -fx-text-fill: #F3AF51;
    -fx-pref-width: 35px;
    -fx-border-color: #B38506;
}

.menu-button {
    -fx-pref-width: 35px;
}

.Chord {
    -fx-font: 14px "Serif";
    -fx-pref-width: 100px;
}

.ChordGrab {
    -fx-font: 14px "Serif";
    -fx-pref-width: 120px;
}

.PlayerButton {
    -fx-background-color: #AAAACC;
    -fx-border-color: #444455;
    -fx-border-radius: 9;
    -fx-pref-height: 30px;
    -fx-min-width: 55px;
    -fx-fill-color: #000000;
}

.CButton {
    -fx-background-color: #D2691E
}

.CisButton {
    -fx-background-color: #DEB887
}

.DButton {
    -fx-background-color: #5B2020
}

.DisButton {
    -fx-background-color: #B8860B
}

.EButton {
    -fx-background-color: #DAA520
}

.FButton {
    -fx-background-color: #8B4513
}

.FisButton {
    -fx-background-color: #CD853F
}

.GButton {
    -fx-background-color: #A0522D
}

.GisButton {
    -fx-background-color: #D2B48C
}

.AButton {
    -fx-background-color: #AF7817
}

.BButton {
    -fx-background-color: #C85A17
}

.HButton {
    -fx-background-color: #7E3517
}