.button {
    -fx-font: 14px "Serif";
    -fx-padding: 2;
    -fx-background-color: #FFFF55;
    -fx-border-color: #000000;
    -fx-border-radius: 0;
}

.neck-label{
    -fx-pref-width: 35px;
    -fx-font: 14px "Serif";
    -fx-background-color: #FFFFCC;
    -fx-border-color: #000000;
    -fx-alignment: center;
}

.neck-button {
    -fx-pref-width: 35px;
}

.menu-button {
    -fx-pref-width: 35px;
}

.Chord {
    -fx-font: 14px "Serif";
    -fx-pref-width: 100px;
}

.ChordGrab {
    -fx-font: 14px "Serif";
    -fx-pref-width: 120px;
}

.CButton {
    -fx-background-color: #444477
}

.CisButton {
    -fx-background-color: #447744
}

.DButton {
    -fx-background-color: #774444
}

.DisButton {
    -fx-background-color: #447777
}

.EButton {
    -fx-background-color: #774477
}

.FButton {
    -fx-background-color: #774400
}

.FisButton {
    -fx-background-color: #770077
}

.GButton {
    -fx-background-color: #004477
}

.GisButton {
    -fx-background-color: #7744FF
}

.AButton {
    -fx-background-color: #77FF77
}

.BButton {
    -fx-background-color: #FF4477
}

.HButton {
    -fx-background-color: #CCCCCC
}